h2{
    color:yellowgreen;
    text-align: center;
}
.potato{
    margin: 20px;
    padding:20px 10px 20px 10px;
    box-shadow: khaki;
    background-color: red;
}
li{
    color:rgba(135, 223, 164, 0.533);
}

.cover{
    margin: 20px;
    height: 200px;
    width: 700px;
    padding: 30px;
}

#ocaa{ 
    margin: 23px;
    width: 600px;
    padding: 29px;
}